<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Beers you like</title>
  </head>
  <body>

    <h1>Your Favourites: </h1>

    <% @favourites.each do |fav| %>
    <img src="<%#= fav.image_url %>">

    <h3 >
    "<%= fav.beer.name %>"
    <p>by</p>
    <%= fav.beer.company %>
    </h3>

    <% end %>


    <a href="/beers">back to home</a>
  </body>
</html>
