<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello Beer</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy" rel="stylesheet">
</head>

<body>
  <nav>
    <a href="/beers">
      <img  src="http://www.thecatfish.com.au/images/catfish/thecatfishlogo-280.png" alt="logo">
    </a>

  <div class="session"> <% if logged_in? %>
    <p>logged in as <%= current_user %></p>
    <form action="/session" method="post">
      <input type="hidden" name="_method" value="delete">
      <button id="logout">Logout</button>
    </form>
    <% end %>
  </div>
</nav>

  <%= yield %>

</body>
</html>
