<h2>New Beer</h2>

<form action="/beers" method="post">
  <label for="">Name</label>
  <input name="name" type="text">
  <label for="">Company</label>
  <input type="text" name="company">
  <label for="">Beer Type</label>
  <input type="text" name="beer type">
  <label for="">image url</label>
  <input name="image_url" type="text">
  <button>Create</button>
</form>
