<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/show.css">
    <title></title>
  </head>
  <body>


  <div class="">
    <h2>
    <%= @beer.name %>
    </h2>
    <img src="<%= @beer.image_url %>" >
  </div>

<footer>

  <a href="/beers/<%= @beer.id %>/edit">Edit Beer</a>
    <form action="/beers/<%= @beer.id %>" method="post">
      <input type ="hidden" name="_method" value="delete">
      <button>Delete Beer</button>
    </form>


    <a href="/beers">back to home</a>
  </footer>
  </body>
</html>
