* {
  box-sizing: border-box;
}

body {
  width: 100%;
}

div {
width: 80%;
display: flex;
align-items: flex-start;
justify-content: center;
flex-direction: column;
flex-wrap: wrap;

}

h3 {
  padding: 0;
}

img {
  margin: 2%;
}
