* {
  box-sizing: border-box;
}

body {
  background-color: #1e3963;
  color: white;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy', serif;
}

nav {
  display: flex;
}

.welcome {
  align-items: flex-start;
  text-align: left;
}

.welcome a {
  text-decoration:none;
}


nav img {
  display:flex;
  align-items: center;
  border: 0.2px;
  border-radius: 55%;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


.login {
  text-align: right;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  /*justify-content:flex-start;*/
}

form.favourites {
  display:flex;
  align-items: baseline;
  align-self: flex-start;
}


a.item {
  text-decoration: none;
  color: #efefef;
  transition: all 1s ease;
  border-radius: 10px;
}


a:visited {
  color: #eff8ff;
}

a.item:hover {
  background-color: rgb(62, 110, 153);
  color: #dcebf7;

}

footer {
  height: 15%;
  width: 100%;
}

/*form {
  display: flex;
  align-items: center;
  padding-left: 5%;
}*/

p.main {
  font-size: 0.7em;
  font-style: italic;
}

h3 {
text-align: left;
padding: 5%;
}

.item {
  width: 15%;
  height: 15%;
  margin: 2%;
  box-shadow: 1px 1px 10px 1px #c0c9d1;
  border: 0.5px solid #184970;
  text-align:left;
}

 img {
  display: flex;
  align-items: center;
  padding-top: 4%;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0;
}
